.gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
  z-index: 0;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.card-registration .position-relative {
  position: relative;
}

.card-registration .position-absolute {
  position: absolute;
  top: 30%;
  right: 10px; /* Adjust the right distance as per your preference */
  transform: translateY(-50%);
  cursor: pointer;
}

.card-registration .position-absolute.visible {
  display: block; /* Display the eye icon when visible */
}

.input100,
.select-label {
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #aaa; /* Default line color */
  outline: none;
  background-color: transparent;
  position: relative;
  transition: all 0.3s ease;
}

.focus-input100::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6a7dfe; /* Color when focused */
  transition: all 0.3s ease;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.label100 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input100:focus + .focus-input100 + .label100,
.input100:not(:placeholder-shown) + .focus-input100 + .label100,
.select-label:focus,
.select-label:not(:placeholder-shown) {
  transform: translateY(-100%) scale(0.8);
  color: #21d4fd; /* Color when focused */
}

/* Custom Select Box Styles */
.select-wrapper {
  position: relative;
  width: 100%;
}

.select-wrapper select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #aaa;
  outline: none;
  background-color: transparent;
}

.select-wrapper::before {
  content: '\25BC'; /* Unicode character for the down arrow */
  font-family: 'Arial', sans-serif;
  color: #aaa;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-wrapper label {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: all 0.3s ease;
}


.select-wrapper select:focus + label,
.select-wrapper select:not(:placeholder-shown) + label {
  transform: translateY(-100%) scale(0.8);
  color: #21d4fd; /* Color when focused */
}

/* Apply the color to the submit button */
.btn-primary {
  background-color: #21d4fd; /* Button background color */
  border-color: #21d4fd; /* Button border color */
  color: #fff; /* Button text color */
}

.btn-primary:hover {
  background-color: #4e5bb5; /* Hover background color */
  border-color: #4e5bb5; /* Hover border color */
  color: #fff; /* Hover text color */
}
/* Add these styles to your CSS */
.toggle-password i {
  color: grey;
  cursor: pointer;
  transition: color 0.3s;
}

.toggle-password i:hover {
  color: #21d4fd;
}

.toggle-password.clicked i {
  position: relative;
}

.toggle-password.clicked i::before {
  content: "\2501";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #21d4fd;
}
