<section id="sidebar" [class.hide]="status">
  <a routerLink="/home" class="brand">
    <img src="assets/ss.png" alt="logo" height="40" width="45" style="margin-right: 17px;margin-left: 5px;"/>
    <span class="text">Sofrecom</span>
  </a>
  <ul class="side-menu top">
    <li class="active">
      <a routerLink="/home" routerLinkActive="active">
        <i class='bx bxs-dashboard' ></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li class="dropdown" [class.expanded]="teamMenuExpanded" (click)="toggleMenu('teamMenuExpanded')">
      <a routerLink="/add-salarie" routerLinkActive="active" data-toggle="collapse">
        <i class='bx bxs-group'></i>
        <span class="text">Salariés</span>
      </a>
      <ul class="collapse" id="teamSubmenu">
        <li><a routerLink="/add-salarie" >Ajouter</a></li>
        <li><a routerLink="/update-salarie" >Modifier</a></li>
        <li><a routerLink="/delete-salarie" >Supprimer</a></li>
      </ul>
    </li>

    <li class="dropdown" [class.expanded]="tablesMenuExpanded" (click)="toggleMenu('tablesMenuExpanded | json')">
      <a href="#tablesSubmenu" data-toggle="collapse">
        <i class='bx bxs-bus'></i>
        <span class="text">Bus</span>
      </a>
      <ul class="collapse" id="tablesSubmenu">
        <li><a routerLink="/add-bus" >Ajouter</a></li>
        <li><a routerLink="/update-bus" >Modifier</a></li>
        <li><a routerLink="/delete-bus" >Supprimer</a></li>
      </ul>
    </li>
    <li class="dropdown" [class.expanded]="tablesMenuExpanded" (click)="toggleMenu('tablesMenuExpanded | json')">
      <a href="#tablesSubmenu" data-toggle="collapse">
        <i class='bx bx-map'></i>
        <span class="text">Stations</span>
      </a>
      <ul class="collapse" id="tablesSubmenu">
        <li><a href="#">Ajouter</a></li>
        <li><a href="#">Modifier</a></li>
        <li><a href="#">Supprimer</a></li>
      </ul>
    </li>
    <li class="dropdown" [class.expanded]="tablesMenuExpanded" (click)="toggleMenu('tablesMenuExpanded | json')">
      <a href="#tablesSubmenu" data-toggle="collapse">
        <i class='bx bx-trip'></i>
        <span class="text">Tragets</span>
      </a>
      <ul class="collapse" id="tablesSubmenu">
        <li><a href="#">Ajouter</a></li>
        <li><a href="#">Modifier</a></li>
        <li><a href="#">Supprimer</a></li>
      </ul>
    </li>
  
    <li class="dropdown" [class.expanded]="tablesMenuExpanded" (click)="toggleMenu('tablesMenuExpanded | json')">
      <a href="#tablesSubmenu" data-toggle="collapse">
        <i class='bx bx-table'></i>
        <span class="text">Tables</span>
      </a>
        <ul class="collapse" id="tablesSubmenu">
        <li><a href="#">Salariés</a></li>
        <li><a href="#">Bus</a></li>
        <li><a href="#">Tragets</a></li>
        <li><a href="#">Stations</a></li>
      </ul>
    </li>
  
  </ul>
  <ul class="side-menu">
    <li>
      <a href="#">
        <i class='bx bxs-cog' ></i>
        <span class="text">Settings</span>
      </a>
    </li>
    <li>
      <a routerLink="/login" class="logout">
        <i class='bx bxs-log-out-circle' ></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i (click)="addToggle()" class='bx bx-menu' ></i>
    <a href="#" class="nav-link">Categories</a>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search...">
        <button type="button" class="search-btn"><i class='bx bx-search' ></i></button>
      </div>
    </form>
    <a href="#" class="notification">
      <i class='bx bxs-bell' ></i>
      <span class="num">0</span>
    </a>
    <a href="#" class="profile">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="37" viewBox="0 0 27 30" style="fill: #3e4b5b"><path d="M12 2A10.13 10.13 0 0 0 2 12a10 10 0 0 0 4 7.92V20h.1a9.7 9.7 0 0 0 11.8 0h.1v-.08A10 10 0 0 0 22 12 10.13 10.13 0 0 0 12 2zM8.07 18.93A3 3 0 0 1 11 16.57h2a3 3 0 0 1 2.93 2.36 7.75 7.75 0 0 1-7.86 0zm9.54-1.29A5 5 0 0 0 13 14.57h-2a5 5 0 0 0-4.61 3.07A8 8 0 0 1 4 12a8.1 8.1 0 0 1 8-8 8.1 8.1 0 0 1 8 8 8 8 0 0 1-2.39 5.64z"></path><path d="M12 6a3.91 3.91 0 0 0-4 4 3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4zm0 6a1.91 1.91 0 0 1-2-2 1.91 1.91 0 0 1 2-2 1.91 1.91 0 0 1 2 2 1.91 1.91 0 0 1-2 2z"></path></svg>
        </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" href="#">Home</a>
          </li>
        </ul>
      </div>
      <a href="#" class="btn-download">
        <i class='bx bxs-cloud-download' ></i>
        <span class="text">Stats</span>
      </a>
    </div>

    <ul class="box-info">
      <li>
        <i class='bx bxs-group' ></i>
        <span class="text">
          <h3 #salariesCountRef>0</h3>
          <p>Salariés</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-bus'></i>
        <span class="text">
          <h3 #busCountRef>0</h3>
          <p>Bus</p>
        </span>
      </li>
      <li>
        <i class='bx bx-trip'></i>
        <span class="text">
          <h3 #tragetsCountRef>0</h3>
          <p>Tragets</p>
        </span>
      </li>
    </ul>


    <div class="table-data">
      <!-- salaries.component.html -->
<div class="order">
  <div class="head">
    <h3>Salariés</h3>
    <i class='bx bx-search'></i>
    <i class='bx bx-filter'></i>
  </div>
  <table>
    <thead>
      <tr>
        <th>Salarié</th>
        <th>Matricule</th>
        <th>Nom&Prénom</th>
        <th>Bus</th>
        <th>Stations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let salarie of salaries">
        <td>
          <p>{{ salarie.id }}</p>
        </td>
        <td>{{ salarie.matricule }}</td>
        <td>{{ salarie.nom }} {{ salarie.prenom }}</td>
        <td>{{ salarie.bus.designation }}</td>
        <td>{{ salarie.station.libelle }}</td>
        <!-- Add more columns as needed -->
      </tr>
    </tbody>
  </table>
</div>

    
      <div class="order">
        <div class="head">
          <h3>Bus</h3>
          <i class='bx bx-plus'></i>
          <i class='bx bx-filter'></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Designation</th>
              <th>Tragets</th>
              <th>Capacité</th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop through your buss and create a row for each -->
            <tr *ngFor="let bus of Buses">
              <td><span class="status completed">{{ bus.id }}</span></td>
              <td>{{ bus.designation }}</td>
              <td>{{ bus.tragetLabel || 'Unknown traget' }}</td>
              <td>{{ bus.capacite }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->